body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

.navbar {
    background-color: #333;
}

.navbar .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #00aaff;
}

footer {
    background-color: #2c3e50;
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: #00aaff;
}
.card {
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}

.card:hover {
    transform: scale(1.05);
}

.card .card-link {
    color: #333;
}

.card .card-link:hover {
    text-decoration: none;
}
.btn-custom {
    background-color: #00aaff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #0077cc;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}
